@import "vars/fonts"
@import "vars/vars"

body
  margin: 0
  background-color: #eee
  font-family: $default-font


@import "components/Content/Content"
@import "components/Films/Films"
@import "components/Header/Header"
@import "components/Film/Film"
@import "components/Menu/Menu"